/.vs/
/clang-Debug/
/clang-Release/
/MSVC-Debug/
/MSVC-Release/
/x64/

/libtomcrypt-clang-Debug-x64.txt
/libtomcrypt-clang-Debug-x86.txt
/libtomcrypt-clang-Release-x64.txt
/libtomcrypt-clang-Release-x86.txt
/libtomcrypt-MSVC-Debug-x64.txt
/libtomcrypt-MSVC-Debug-x86.txt
/libtomcrypt-MSVC-Release-x64.txt
/libtomcrypt-MSVC-Release-x86.txt
