/.vs/
/clang-Debug/
/clang-Release/
/MSVC-Debug/
/MSVC-Release/
/x64/

/test-clang-Debug-x64.txt
/test-clang-Debug-x86.txt
/test-clang-Release-x64.txt
/test-clang-Release-x86.txt
/test-MSVC-Debug-x64.txt
/test-MSVC-Debug-x86.txt
/test-MSVC-Release-x64.txt
/test-MSVC-Release-x86.txt
/timing-clang-Debug-x64.txt
/timing-clang-Debug-x86.txt
/timing-clang-Release-x64.txt
/timing-clang-Release-x86.txt
/timing-MSVC-Debug-x64.txt
/timing-MSVC-Debug-x86.txt
/timing-MSVC-Release-x64.txt
/timing-MSVC-Release-x86.txt
