/.vs/
/build/

/test-clang-Debug-Win32.txt
/test-clang-Debug-x64.txt
/test-clang-Release-Win32.txt
/test-clang-Release-x64.txt
/test-MSVC-Debug-Win32.txt
/test-MSVC-Debug-x64.txt
/test-MSVC-Release-Win32.txt
/test-MSVC-Release-x64.txt
/timing-clang-Debug-Win32.txt
/timing-clang-Debug-x64.txt
/timing-clang-Release-Win32.txt
/timing-clang-Release-x64.txt
/timing-MSVC-Debug-Win32.txt
/timing-MSVC-Debug-x64.txt
/timing-MSVC-Release-Win32.txt
/timing-MSVC-Release-x64.txt
